//

@use "../abstract/variables" as var;

@use "../abstract/mixin" as mx;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-family: Poppins, sans-serif;
  font-size: 75%;
  line-height: 1.5;
  font-weight: 900;

  @include mx.media(90em) {
    font-size: 62.5%;
  }

  
  @include mx.media(36.13em) {
    font-size: 56.25%;
  }
}

body {
  box-sizing: border-box;
}
