//

@use "../abstract/functions" as fun;
@use "../abstract/placeholder";

.btn {
  display: inline-block;

  &__share {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #333;

    @extend %d__flex;

    // display: flex;
    // justify-content: center;
    // align-items: center;

    &-icon {
      width: 2rem;
      height: 2rem;

      transform: translateY(-0.1rem);
    }

    &:hover + .feature__social {
      opacity: 1 !important;
    }
  }
}
